<div class="dt-page__header">
    <h1 class="dt-page__title">Dashboard - CRM</h1>
</div>
<!-- /page header -->

<!-- Entry Header -->
<div class="dt-entry__header">

    <!-- Entry Heading -->
    <div class="dt-entry__heading">
        <h3 class="dt-entry__title">Finance &amp; Sales</h3>
    </div>
    <!-- /entry heading -->

</div>
<!-- /entry header -->

<!-- Grid -->
<div class="row mb-sm-8">

    <!-- Grid Item -->
    <div class="col-md-3 col-6">

        <!-- Card -->
        <div class="dt-card">

            <!-- Card Body -->
            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                <span class="badge badge-secondary badge-top-right">Revenue</span>
                <!-- Media -->
                <div class="media">

                    <i class="icon icon-revenue-new icon-5x mr-xl-5 mr-3
                        align-self-center"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <p class="mb-1 h1">$25,890</p>
                        <span class="d-block text-light-gray">This July</span>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-3 col-6">

        <!-- Card -->
        <div class="dt-card">

            <!-- Card Body -->
            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                <span class="badge badge-secondary badge-top-right">Order</span>
                <!-- Media -->
                <div class="media">

                    <i class="icon icon-orders-new icon-5x mr-xl-5 mr-3
                        align-self-center"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <p class="mb-1 h1">$2,569</p>
                        <span class="d-block text-light-gray">This July</span>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-6 col-12">

        <!-- Card -->
        <div class="dt-card">

            <!-- Card Body -->
            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                <span class="badge badge-secondary badge-top-right">Invoices</span>
                <!-- Media -->
                <div class="media">

                    <i class="icon icon-invoice-new icon-5x mr-xl-5 mr-1 mr-sm-3
                        align-self-center"></i>

                    <!-- Media Body -->
                    <div class="media-body">
                        <ul class="invoice-list">
                            <li class="invoice-list__item">
                                <span class="invoice-list__number">23</span>
                                <span class="invoice-list__label">Sent</span>
                            </li>
                            <li class="invoice-list__item">
                                <span class="invoice-list__number">8</span>
                                <span class="dot-shape bg-success"></span>
                                <span class="invoice-list__label">Paid</span>
                                <span class="custom-tooltip bg-success">$8015</span>
                            </li>
                            <li class="invoice-list__item">
                                <span class="invoice-list__number">9</span>
                                <span class="dot-shape bg-warning"></span>
                                <span class="invoice-list__label">Due</span>
                                <span class="custom-tooltip bg-warning">$1215</span>
                            </li>
                            <li class="invoice-list__item">
                                <span class="invoice-list__number">6</span>
                                <span class="dot-shape bg-danger"></span>
                                <span class="invoice-list__label">Overdue</span>
                                <span class="custom-tooltip bg-danger">$415</span>
                            </li>
                        </ul>
                    </div>
                    <!-- /media body -->

                </div>
                <!-- /media -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-6">

        <!-- Card -->
        <div class="dt-card dt-card__full-height">

            <!-- Card Header -->
            <div class="dt-card__header">

                <!-- Card Heading -->
                <div class="dt-card__heading">
                    <h3 class="dt-card__title">Estimates</h3>
                </div>
                <!-- /card heading -->

                <!-- Card Tools -->
                <div class="dt-card__tools">
                    <a href="javascript:void(0)" class="dt-card__more">See All</a>
                </div>
                <!-- /card tools -->

            </div>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="dt-card__body">

                <!-- Grid -->
                <div class="row">

                    <!-- Grid Item -->
                    <div class="col-xl-4 col-md-12 col-sm-4">

                        <!-- Chart -->
                        <canvas class="mx-auto mb-5 mb-sm-0 mb-md-5 mb-xl-0" id="estimation-doughnut" data-fill="46" height="110" width="110"></canvas>
                        <!-- /chart -->

                    </div>
                    <!-- /grid item -->

                    <!-- Grid Item -->
                    <div class="col-xl-8 col-md-12 col-sm-8">

                        <div class="pb-3 mb-3 border-bottom">
                            <span class="display-4 d-inline-block mr-2
                                font-weight-500 text-dark">$57,985</span><span class="font-weight-light f-16">Worth Estimate</span>
                        </div>

                        <!-- List -->
                        <ul class="dt-list dt-list-col-6">
                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-blue mr-2"></span>
                                <span class="d-inline-block">21 Sent</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-green mr-2"></span>
                                <span class="d-inline-block">9 Approved</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-pink mr-2"></span>
                                <span class="d-inline-block">5 Denied</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg bg-light
                                    mr-2"></span>
                                <span class="d-inline-block">11 Expired</span>
                            </li>
                        </ul>
                        <!-- /list -->

                    </div>
                    <!-- /grid item -->

                </div>
                <!-- /grid -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-md-6">

        <!-- Card -->
        <div class="dt-card dt-card__full-height">

            <!-- Card Header -->
            <div class="dt-card__header">

                <!-- Card Heading -->
                <div class="dt-card__heading">
                    <h3 class="dt-card__title">Proposals</h3>
                </div>
                <!-- /card heading -->

                <!-- Card Tools -->
                <div class="dt-card__tools">
                    <a href="javascript:void(0)" class="dt-card__more">See All</a>
                </div>
                <!-- /card tools -->

            </div>
            <!-- /card header -->

            <!-- Card Body -->
            <div class="dt-card__body">

                <!-- Grid -->
                <div class="row">

                    <!-- Grid Item -->
                    <div class="col-xl-4 col-md-12 col-sm-4">

                        <!-- Chart -->
                        <canvas class="mx-auto mb-5 mb-sm-0 mb-md-5 mb-xl-0" id="proposal-doughnut" data-fill="53" height="110" width="110"></canvas>
                        <!-- /chart -->

                    </div>
                    <!-- /grid item -->

                    <!-- Grid Item -->
                    <div class="col-xl-8 col-md-12 col-sm-8">

                        <div class="pb-3 mb-3 border-bottom">
                            <span class="display-4 d-inline-block mr-2
                                font-weight-500 text-dark">$86,910</span><span class="font-weight-light f-16">Worth Proposal</span>
                        </div>

                        <!-- List -->
                        <ul class="dt-list dt-list-col-6">
                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-blue mr-2"></span>
                                <span class="d-inline-block">30 Sent</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-green mr-2"></span>
                                <span class="d-inline-block">9 Approved</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg
                                    bg-light-pink mr-2"></span>
                                <span class="d-inline-block">3 Denied</span>
                            </li>

                            <li class="dt-list__item">
                                <span class="dot-shape dot-shape-lg bg-light
                                    mr-2"></span>
                                <span class="d-inline-block">11 Expired</span>
                            </li>
                        </ul>
                        <!-- /list -->

                    </div>
                    <!-- /grid item -->

                </div>
                <!-- /grid -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

    <!-- Grid Item -->
    <div class="col-12">

        <!-- Card -->
        <div class="dt-card">

            <!-- Grid -->
            <div class="row no-gutters">

                <!-- Grid Item -->
                <div class="col-md-6">
                    <!-- Card Header -->
                    <div class="dt-card__header mb-3">

                        <!-- Card Heading -->
                        <div class="dt-card__heading">
                            <h3 class="dt-card__title">Overview</h3>
                        </div>
                        <!-- /card heading -->

                    </div>
                    <!-- /card header -->

                    <!-- Card Body -->
                    <div class="dt-card__body pb-0 pb-sm-8">
                        <div class="embed-responsive embed-responsive-21by9">
                            <div id="overview-map" class="embed-responsive-item"></div>
                        </div>
                    </div>
                    <!-- /card body -->
                </div>
                <!-- /grid item -->

                <!-- Grid Item -->
                <div class="col-md-3 col-sm-6">
                    <div class="dt-card__body pl-md-0 pr-sm-0">
                        <ul class="dt-indicator mt-xl-6">
                            <li class="dt-indicator-item">
                                <p class="dt-indicator-title">Europe</p>
                                <div class="dt-indicator-item__info" data-fill="55" data-max="100" data-percent="true">
                                    <div class="dt-indicator-item__fill
                                        bg-info"></div>
                                    <span class="dt-indicator-item__count ml-3">0</span>
                                </div>
                            </li>
                            <li class="dt-indicator-item">
                                <p class="dt-indicator-title">North America</p>
                                <div class="dt-indicator-item__info" data-fill="40" data-max="100" data-percent="true">
                                    <div class="dt-indicator-item__fill
                                        bg-success"></div>
                                    <span class="dt-indicator-item__count ml-3">0</span>
                                </div>
                            </li>
                            <li class="dt-indicator-item">
                                <p class="dt-indicator-title">Japan, South Koria</p>
                                <div class="dt-indicator-item__info" data-fill="20" data-max="100" data-percent="true">
                                    <div class="dt-indicator-item__fill
                                        bg-yellow"></div>
                                    <span class="dt-indicator-item__count ml-3">0</span>
                                </div>
                            </li>
                            <li class="dt-indicator-item">
                                <p class="dt-indicator-title">Other</p>
                                <div class="dt-indicator-item__info" data-fill="10" data-max="100" data-percent="true">
                                    <div class="dt-indicator-item__fill
                                        bg-light"></div>
                                    <span class="dt-indicator-item__count ml-3">0</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /grid item -->

                <!-- Grid Item -->
                <div class="col-md-3 col-sm-6">
                    <div class="dt-zone-stats">
                        <div class="dt-zone-stats__content">
                            <div class="h1 display-4 font-weight-600 mb-1">$25,890</div>
                            <span>Total Revenue</span>
                        </div>
                        <div class="dt-zone-stats__content">

                            <div class="row w-100">
                                <div class="col-6 text-center border-right">
                                    <div class="h1 mb-1 font-weight-500">23</div>
                                    <span>Clients</span>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="h1 mb-1 font-weight-500">07</div>
                                    <span>Countries</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

</div>
<!-- /grid -->