<div class="dt-login__bg-content">
  <!-- Login Title -->
  <h1 class="dt-login__title">{{title}}</h1>
  <!-- /login title -->

  <p class="f-16">{{desc}}</p>
</div>


<!-- Brand logo -->
<div class="dt-login__logo">
  <a class="dt-brand__logo-link" routerLink="/">
    <img class="dt-brand__logo-img" src="https://via.placeholder.com/360x108" alt="Drift">
  </a>
</div>
<!-- /brand logo -->
